{% extends 'manga/manga_base.html.twig' %}

{% block breadcrump %}
    <li class="breadcrumb-item " aria-current="page"><a href="{{ path('manga_index') }}">Manga</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('manga_show', {'id': manga.id, 'slug': manga.slug}) }}">{{ manga.id }}-{{ manga.slug }}</a></li>
{% endblock %}

{% block manga_body %}
    <div class="manga_show">
        <div class="row">
            <div class="col-lg-4 show-img">
                <a href="#">
                    <img src="{{ asset(manga.cover.WebPath) }}" alt="{{ manga.cover.alt }}" class="">
                </a>
            </div>
            <div class="col-lg-8 show-content">
                <p>
                    Titre : {{ manga.title }}
                </p>
                <p>Année de parution : {{ manga.year }}</p>
                <p>Type d'oeuvre : {{ manga.type.name }} ({{ manga.type.pays}})</p>
                <p>Auteur(s) : {% for auteur in auteurs %}"<a href="">{{ auteur }}</a>"{% if not loop.last %},  {% endif %}{% endfor %}</p>
                <p>Genre(s) : {% for genre in manga.genres %}<a href="">{{ genre.name }}</a>{% if not loop.last %},  {% endif %}{% endfor %}</p>
                <p>Chapitre actuelle : {{ manga.chapTotale }}</p>
                <p>Etats de Parution : {{ manga.etatsParution.name }}</p>
                <p>Lecture en ligne : <a href="{{ manga.lel }}">>> c'est par ici << </a></p>
                <p>
                    Résume de l'oeuvre : <br><br>
                    <span>{{ manga.synopsie }}</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="{{ path('manga_edit', {'id': manga.id, 'slug': manga.slug}) }}" class="btn btn-success btn-block">Modifier</a>
            </div>
            <div class="col-lg-4">
                <a href="" class="btn btn-dark btn-block">Ajouter à ma bilbiotèque</a>
            </div>
            <div class="col-lg-4">
                <a href="{{ path('manga_index') }}" class="btn btn-primary btn-block">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}